

/* Fonts */

/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

/* Base */
body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow-y: hidden;
}

#logo {
	background: #BBB;
    width: 140px;
    padding: 0 0 0 0;
    float: left;
    height: 66px;
    margin: 7px 0 0 10px;
    text-align: center;
}

#news {
	float: left;
	height: 100%;
	width: 25%;
	overflow-y: scroll;
}

#graph {
	float: left;
	height: 100%;
	width: 55%;
	background: #eee;
}

#chat {
	float: left;
	height: 100%;
	width: 20%;
	overflow-y: scroll;
}

#newsContent {
	height: 100%;
}

/* News */
.newsItem {
	float: left;
	width: 100%;
	padding: 4px 2px 4px 2px;
	font-family: "Arial", "sans-serif";
	border-bottom: solid 1px #999999;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
 	box-sizing: border-box;         /* Opera/IE 8+ */

 	-webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -ms-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
}

.newsItem:hover {
	background-color: rgba(0, 0, 0, 0.1);
	/*cursor: pointer;*/
	-webkit-transition: background 0.35s linear;
    -moz-transition: background 0.35s linear;
    -ms-transition: background 0.35s linear;
    -o-transition: background 0.35s linear;
    transition: background 0.35s linear;
}

.newsItem a {
	/**/
}

.newsTitle {
	float: left;
	width: 100%;
	letter-spacing: 0px;
	/*font-family: "Helvetica Narrow", "Arial Narrow", "Tahoma", "Verdana", "Arial", "sans-serif"*/
	font-family: 'Source Sans Pro', 'sans-serif';
	font-size: 18px;
	font-weight: bold; 
	padding: 0 0 0 0;
}

.newsTitle a {
	text-decoration: none;
}

.newsShort {
	float: left;
	/*height: 68px;*/
	/*font-family: "Arial", "sans-serif";*/
	font-family: 'Source Sans Pro', 'sans-serif';
	font-size: 15px;
	font-weight: normal;
	word-wrap: break-word;
	overflow: hidden;
}

.newsImage {
	float: left;
	width: 64px;
	height: 64px;
	padding: 4px 4px 0 0;
}

.lengthTest {
	position: absolute;
	float: left; 
	visibility: hidden;
	width: 25%;
	padding-right: 16px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
 	box-sizing: border-box;         /* Opera/IE 8+ */
}

#message {
	background-color: rgba(200, 200, 200, 0.8);
	color: #333333;
	position: fixed;
	width: 600px;
	height: 40px;
	top: 20%;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	z-index: 20000;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	display: none;
}

/* Graph */

/* Twitter */
#twitterContent {
	height: 100%;
}

.twitterItem {
	float: left;
	width: 100%;
	padding: 4px 2px 4px 2px;
	font-family: 'Source Sans Pro', 'sans-serif';
	/*font-family: "Arial", "sans-serif";*/
	border-bottom: solid 1px #999999;
	border-left: solid 1px #999999;
	padding-left: 3px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
 	box-sizing: border-box;         /* Opera/IE 8+ */

 	-webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -ms-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
}

.twitterItem:hover {
	background-color: rgba(0, 0, 0, 0.1);
	/*cursor: pointer;*/
	-webkit-transition: background 0.35s linear;
    -moz-transition: background 0.35s linear;
    -ms-transition: background 0.35s linear;
    -o-transition: background 0.35s linear;
    transition: background 0.35s linear;
}

.twitterMainHandle {
	float: left;
	width: 100%;
	letter-spacing: 0px;
	/*font-family: "Helvetica Narrow", "Arial Narrow", "Tahoma", "Verdana", "Arial", "sans-serif";*/
	font-family: 'Source Sans Pro', 'sans-serif';
	font-size: 18px;
	font-weight: bold; 
}

.twitterMainHandle a {
	text-decoration: none;
}

.twitterText {
	float: left;
	/*height: 68px;*/
	/*font-family: "Arial", "sans-serif";*/
	font-family: 'Source Sans Pro', 'sans-serif';
	font-size: 15px;
	font-weight: normal;
	word-wrap: break-word;
	overflow: hidden;
}

a.twitterHashtag {
	text-decoration: none;
}

a.twitterHandle {
	text-decoration: none;
}